        /* Reset de estilos */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Montserrat', sans-serif;
            color: #333;
            line-height: 1.6;
        }

        .header {
            background-color: #f4f4f4;
            border-bottom: 2px solid #ddd;
            padding: 10px 0;
          }
        
          .header__banner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
          }
        
          .header__logo img {
            display: block;
            height: auto;
            max-height: 80px;
          }
        
          .header__social {
            display: flex;
            align-items: center;
          }
        
          .header__social a img {
            transition: transform 0.3s ease;
          }
        
          .header__social a img:hover {
            transform: scale(1.1);
          }
        nav {
            background-color: #f8f8f8;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            height: 90px;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
            padding-top: 30px;
        }

        nav li {
            margin: 0 15px;
        }

        nav a {
            color: #333;
            text-decoration: none;
            padding: 15px 0;
            display: block;
            font-weight: 600;
        }

        nav a:hover {
            color: #bf0404;
        }

        section {
            padding: 60px 80px;
            max-width: 1200px;
            margin: auto;
        }

        h2 {
            color: #bf0404;
            margin-bottom: 20px;
            font-size: 36px;
        }

        p, li {
            font-size: 18px;
            color: #555;
            margin-bottom: 15px;
        }

        ul {
            list-style-type: disc;
            margin-left: 40px;
        }

        .productos {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .producto {
            flex: 1 1 calc(33% - 20px);
            background-color: #f9f9f9;
            padding: 20px;
            text-align: center;
            border-radius: 8px;
            transition: transform 0.3s;
        }

        .producto:hover {
            transform: translateY(-10px);
        }

        .producto img {
            max-width: 100%;
            border-radius: 8px;
        }

        .producto h3 {
            margin: 15px 0 10px;
            color: #333;
        }

        .contacto-info p {
            margin-bottom: 5px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 30px 0;
        }

        .modal-body {
    height: calc(100vh - 56px); /* 100% del viewport menos el header del modal */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Elimina espacios adicionales */
}

/* Imágenes ajustadas para ocupar el máximo espacio */
.modal-body img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
        .social-media a { color: white; margin: 0 10px; text-decoration: none; font-size: 26px; } .social-media a:hover { color: #bf0404; } @media (max-width: 60px) { header h1 { font-size: 50px; } header h2 { font-size: 24px; } nav ul { flex-direction: column; } nav li { margin: 0; } .productos { flex-direction: column; } .producto { flex: 1 1 100%; } }

        @media (max-width: 768px) {
            header h1 {
                font-size: 50px;
            }

            header h2 {
                font-size: 24px;
            }

            nav ul {
                flex-direction: column;
            }

            nav li {
                margin: 0;
            }

            .productos {
                flex-direction: column;
            }

            .producto {
                flex: 1 1 100%;
            }
        }
        .whatsapp-bubble {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
    }

    .whatsapp-bubble img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .whatsapp-bubble img:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }

       @media (max-width: 576px) {
    body {
        font-size: 18px; /* Aumenta el tamaño base del texto */
    }

    header h1 {
        font-size: 36px; /* Ajusta el tamaño del título principal */
    }

    header h2 {
        font-size: 20px; /* Ajusta el subtítulo */
    }

    p, li {
        font-size: 16px; /* Incrementa el texto de párrafos y listas */
    }

    .producto h3 {
        font-size: 20px; /* Ajusta el tamaño de los títulos de los productos */
    }
}

         /* Ajustes específicos para móviles */
        @media (max-width: 576px) {
            .producto img {
                max-width: 100%;
                margin: 0 auto;
            }

            .producto h3 {
                font-size: 0.9rem;
            }

            .modal-dialog {
                margin: 0.5rem;
            }
        }

